html,body{
    height: 100%;
    height: 100%;
   width:100%;
   font-family: serif;
   margin:0;
   padding:0;
    /* background-color: black; */
}
.carousel{
width:100%;
/* margin-bottom: 20px; */
}
/* .category-image{
    width:100px;
    height: 100px;
} */
.form{
    color:orange;

}
.form-button{
background-color:orange ;
color: #000;
margin-bottom: 20px;
width: 100px;
height: 30px;
font-weight: bold;
}
.navbar{
    height: 10%;
}
.navbar a:hover,option:active{
   background-color: #000;
}
.btn-primary,.btn-primary:hover{
   background-color: #000;
   color:orange;
}
.btn-primary:hover{
   border-radius: 50%;
}
.dropdown-menu{
    /* color:#eb640a ; */
    color:orange ;
    background-color: #000;
}
.dropdown-menu:hover{
    color:#000 ;
    background-color: orange;
}

/* .btn-success:hover{
   border-radius: 50%; */
/* } */
.btn-success,.btn-success:hover{
   background-color: orange;
   color:#000 ;
}
.navbar-nav a{
   padding-right: 20px;
}
.nav-link{
   font-size: 1.1em !important;
}
footer{
   background-color: #000;
   color:  orange;
   text-align: center;
   height: 5%;
    display: block;
    width: 100%;
    border-top: 1px solid  orange ;
    position: fixed;
    bottom:0;
}



.hero-body{
    background-color: orange;
}
h1{
    color:#000;
    text-align: center;
}

/* .night{
    background:black;
    color:white;
} */

 .darkmode--activated p,
 .darkmode--activated li,
 .darkmode--activated h3{
 /* .darkmode--activated h1 { */
    color: orange;

  }
  /* .darkmode--activated .hero-body{
    background-color: #fff;
  } */
  /* .button {
    isolation: isolate;
  }

  .darkmode--activated .logo {
    mix-blend-mode: difference;
  } */
  input{
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#666;
  }

   .logo i{
    padding-right: .5rem;
    color:var(--red);
  }




